h2 {
    text-align: center;
}

* {
    background-color: darkgray;
    color: whitesmoke;
}

.divider {
    border-bottom: 1px solid black;
}

h1 {
    background-color: black;
}

.name-decor {
    margin: 20px 50px;
}