/* Default styling */
* {
  background-color: black;
  color: white;
}

/* Style the h1 */
h1 {
  background-color: black;
  font-weight: bold;
  color: white;
  text-align: center;
  background-image: url("https://shorturl.at/bmqyQ");
}

/* Style the h2 */
h2 {
  font-weight: bold;
  text-align: center;
}

/* Style the images */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
 
/* Style the bodys */
body {
  background-color: black;
}

footer {
  padding: 420px;
  margin: 125px 75px;
}

 /* Style the list */
 ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: black;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: red;
  content: "| ";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: white;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: red;
  text-decoration: underline;
} 
